header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px 15px;

    /* top: 0; */

    @media (min-width: 768px) {
        padding: 20px 50px;
    }
}

/* Hamburger menu */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 25px;
}

.sidebar.open {
    display: flex;
}

.sidebar li,
.sidebar a {
    width: 100%;
    list-style: none;
    text-decoration: none;
    color: black;
    margin-bottom: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
    align-items: center;

}

#hamburger-icon {
    text-align: right;
    list-style: none;

    @media (min-width: 768px) {
        display: none;
    }
}

#close-icon {
    text-align: right;
    /* padding-right: 15px; */
    margin-top: -5px;
    display: flex;
    align-self: end;
}

#close-icon,
#hamburger-icon {
    cursor: pointer;
    line-height: 0;
    background: none;
    border: none;
    fill: var(--primary-color);
}

.navigation {
    display: none;

    /* a {
        font-weight: 600;
        transition: .3s;
    } */

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        gap: 3em;
        justify-content: space-between;
        list-style: none;
        align-items: center;

        a {
            text-decoration: none;
            color: black;
            font-size: 20px;
        }
    }
}

.navigation a,
.sidebar-navigation a {
    font-weight: 600;
    transition: .3s;
    /* text-decoration: underline; */

}

/* .nav-veronica {
    text-decoration-color: var(--veronica);
}

.nav-slam {
    text-decoration-color: var(--slam);
}

.nav-honderdnl {
    text-decoration-color: var(--honderdnl);
} */

.nav-veronica:hover,
.nav-veronica:focus,
.nav-veronica:active {
    color: var(--veronica);

}

.nav-slam:hover,
.nav-slam:focus,
.nav-slam:active {
    color: var(--slam);
}

.nav-honderdnl:hover,
.nav-honderdnl:focus,
.nav-honderdnl:active {
    color: var(--honderdnl);
}

/* .navigation a:hover,
.navigation a:focus {
    color: var(--primary-color);
} */

.day-selector {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 30px;

    @media (min-width: 768px) {
        padding-top: 2em
    }
}

.day-selector .select-day {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    transition: .2s;
}

.select-day:hover,
.select-day:has(input:checked),
.active-day {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 0.5em 1em;
    color: white;
    cursor: pointer;
}

.select-day:has(input:focus) {
    outline: 3px solid #8bb9e8;
    outline-offset: 3px;
}

.select-day input {
    position: absolute;
    opacity: 0;
    /* pointer-events: none; */
}

.select-radio {
    background: none;
    border: none;
    cursor: pointer;
    transition: .3s;

    img {
        width: 8em;
        border-radius: 5px;
    }

    @media (min-width: 768px) {
        img {
            width: 10em;
            border-radius: 10px;
        }
    }
}

.select-radio:hover {
    scale: 1.05;
}

.select-radio:active {
    scale: .95;
}

.select-radio:focus {
    outline: 3px solid white;
    outline-offset: 3px;
}

.hide-programs {
    opacity: 0 !important;

}

.active-radiobutton {
    opacity: .5;
}

.radio-selector {
    background-color: var(--primary-color);
    position: fixed;
    bottom: .5em;
    left: .5em;
    right: .5em;
    padding: 1em;
    border-radius: 10px;
    z-index: 99;

    h2 {
        color: white;
        padding-bottom: .5em;
    }

    @media (min-width: 1024px) {
        width: 33%;
        right: .5em;
        left: auto;
    }
}

.radio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.program-thumbnail img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 3em;
    border-radius: 50%;
}

.program-info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 0.3em;
}

.program-time {
    display: flex;
    gap: .5em;
    align-items: center;
}

.program-time::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url("../assets/clock-regular.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.programs-view {
    display: grid;
    grid-template-columns: 3em 1fr 1fr 1fr;
    /* grid-template-columns: 10% 30% 30% 30%; */
    grid-template-rows: repeat(24, 7em);
    /* 1 uur = 7em */
    column-gap: .5em;
    padding-top: 2em;
    margin-bottom: 150px;

    overflow-x: auto;
    overflow-y: hidden;

    @media (min-width: 768px) {
        overflow-x: hidden;
    }

    @media (min-width: 1024px) {
        column-gap: 1em;
        padding-top: 5em;
        margin-bottom: 0px;

    }
}

.schedule-timeline {
    grid-column: 1;
    /* position: sticky;
    left: 0; */
    z-index: 10;
    grid-row: 1 / -1;
}


.schedule-hours {
    display: grid;
    /* grid-auto-rows: 60px; */
    grid-template-rows: repeat(24, 7em);

    .first-hour {
        border-radius: 10px 10px 0 0;
    }

    .last-hour {
        border-radius: 0 0 10px 10px;
    }
}

.schedule-hours time {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;

    color: var(--primary-color);

}

.schedule-hours time:not(:last-child)::after {
    content: "";
    flex-grow: 1;
    border-right: 2px dashed var(--primary-color);
}

.single-program {
    position: relative;
    z-index: 0;

    color: white;
    padding: .5em .7em;
    border-radius: 1em;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    display: flex;
    /* gap: 1em; */
    align-items: end;


    grid-row: var(--row-start) / span var(--row-span);
    margin: 0.3em;

    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;

    transition: opacity .3s ease;



    @media (min-width: 768px) {
        padding: 1em 1.5em;
        overflow: hidden;
    }
}


.single-program::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            color-mix(in srgb, var(--overlay-color) 50%, transparent),
            color-mix(in srgb, var(--overlay-color) 10%, black));
    z-index: 1;
    border-radius: 1em;
}

.single-program>* {
    position: relative;
    z-index: 2;
}

.program-link {
    display: flex;
    align-items: end;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;

    transition: .2s;
}

.program-link:hover {
    opacity: .7;

}

.single-program.veronica {
    grid-column: 2;
    background-color: var(--veronica);
}

.single-program.slam {
    grid-column: 3;
    background-color: var(--slam);
}

.single-program.honderdnl {
    grid-column: 4;
    background-color: var(--honderdnl);
}

.live-time {
    grid-column: 1 / -1;
    height: 2px;
    background-color: red;
    z-index: 10;
    margin-top: 1em;

    grid-row-start: calc(var(--hours) + 1);
    /* +1 om de 0e rij te compenseren */
    transform: translateY(calc(var(--minutes) / 60 * 7em));
    /* minuten bepalen binnen het uur */
}

/* DETAIL PAGE */
.back-link {
    display: flex;
    align-items: center;
    gap: .5em;
    padding-bottom: .5em;

    transition: .2s;

    svg {
        fill: rgb(103, 103, 103);
    }

    a {
        text-decoration: none;
        color: rgb(103, 103, 103);
    }

    @media (min-width: 768px) {
        padding-top: 1.5em
    }
}

.back-link:hover,
.back-link:focus {
    svg {
        fill: rgb(43, 43, 43);
    }

    a {
        color: rgb(43, 43, 43);
    }
}

.program-hero {
    margin-bottom: 80px;

    img {
        height: 350px;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    @media (min-width: 768px) {
        img {
            height: 550px;
            object-fit: cover;
        }
    }


}

.featured-programs {

    h2 {
        padding-bottom: .5em;
        color: rgb(43, 43, 43);

    }

    h3 {
        color: rgb(43, 43, 43);
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

.featured-programs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}