* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --black: #000000;
    --gray: #9C9C9C;
    --white: #FFFFFF;
}

header {
    /* background-color: var(--gray); */
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.day-selector {
    justify-content: space-between;
    display: flex;
}

.day-selector .select-day {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.radio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.program-list {
    display: flex;
    flex-direction: row;
}

.timeline-hours time {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    width: 5em;
    height: 10em;
}

.timeline-hours time::after {
    display: block;
    height: 100%;
    content: "";
    border-right: dashed 2px var(--gray);

}

.programs {
    width: 100%;
}

.single-program {
    background-color: #D9D9D9;
    padding: 1.5em;
    border-radius: 1em;
    width: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}