@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DMSans-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

:root {
    /* --black: #000000;
    --gray: #9C9C9C;
    --white: #FFFFFF; */
    --veronica: #0D8DCC;
    --slam: #E40069;
    --honderdnl: #EF7D00;
    --primary-color: #43000B;

    --paddingsidesMobile: 0 15px;
    --paddingsidesTablet: 0 50px;
}

body {
    background-color: #FAFAFA;
    line-height: 1.5;
}

h1,
h1 a {
    font-size: clamp(2rem, 4vw, 2.25rem);
    /* 32 → 36 */
    text-decoration: none;
    color: var(--primary-color);

}

h2 {
    font-size: clamp(1.25rem, 3vw, 1.75rem);
    /* 20 → 28 */
    white-space: nowrap;
}

h3 {
    font-size: clamp(1.125rem, 2.5vw, 1.375rem);
    /* 18 → 22 */
}

p {
    font-size: clamp(1rem, 1.2vw, 1.125rem);
    /* 16 → 18 */
}

section {
    /* margin-left: 1em;
    margin-right: 1em; */

    padding: var(--paddingsidesMobile);
    margin-top: 10px;

    @media (min-width: 768px) {
        padding: var(--paddingsidesTablet);
    }
}

.auto-show {
    animation: fade-appear;
    animation-timeline: view();
    /* animation-range: entry 20% cover 50%; */
}

/* @keyframes fade-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
} */

.hideondesktop {
    display: block;

    @media (min-width: 768px) {
        display: none;
    }
}

.hideonmobile {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

/* 
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.3;
    }

    to {
        opacity: 1;
        scale: 1;
    }
} */