header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

nav {
    /* JOUW CODE HIER - stap 3 */
    order: -1;

}



/***************/
/* MENU BUTTON */
/***************/
nav button {
    /* JOUW CODE HIER - stap 5 */
    position: relative;
    z-index: 999;
}

/* als menu open is */
nav.is-open button img {
    /* JOUW CODE HIER - stap 5 */
    /* url kruisje: https://assets.codepen.io/274456/ui-icon-cross.svg */

    content: url("https://assets.codepen.io/274456/ui-icon-cross.svg");

}

nav ul {
    /* JOUW CODE HIER - stap 1 */
    position: fixed;
    inset: 0;

    /* JOUW CODE HIER - stap 2 */
    translate: -100%;

    /* JOUW CODE HIER - stap 4 */
    transition: .3s;

}

/* als menu open is */
nav.is-open ul {
    /* JOUW CODE HIER - stap 4 */
    translate: 0%;

}

.day-selector {
    justify-content: space-between;
    display: flex;
    margin-bottom: 30px;
}

.day-selector .select-day {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/* .active-day {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 0.2em 0.8em;
    color: white;
} */

.select-radio {
    background: none;
    border: none;
    cursor: pointer;
    transition: .3s;


    img {
        width: 10em;
        border-radius: 10px;
    }
}

.select-radio:hover {
    scale: 1.05;
}

.select-radio:active {
    scale: .95;
}

.hide-programs {
    opacity: 0 !important;

}

.active-radiobutton {
    opacity: .5;
}

.radio-selector {
    display: flex;
    justify-content: center;
}

.radio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    position: fixed;
    bottom: .5em;
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    z-index: 99;
}

/* 
.program-list {
    display: flex;
    flex-direction: row;
} */

/* .timeline-hours time {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5em;
    height: 10em;
}

.timeline-hours time::after {
    content: "";
    flex-grow: 1;
    border-right: 2px dashed var(--gray);
}


.programs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
} */

/* .single-program {
    padding: 1.5em;
    border-radius: 1em;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    display: flex;
    gap: 1em;
    align-items: center;
} */

.program-thumbnail img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 3em;
    border-radius: 50%;
}

.program-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
}

.program-time {
    display: flex;
    gap: .5em;
    align-items: center;
}

.program-time::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url("/assets/clock-regular.svg");
}


/* nav {
    background-color: #43000B;
    height: 70px;
    position: sticky;
    bottom: .7em;
    margin-right: .7em;
    margin-left: .7em;
    border-radius: 10px;

    z-index: 10;
} */

/* .view-selector {
    ul li {
        display: inline;
        text-align: center;
    }

    a {
        display: inline-block;
        width: 25%;
        padding: .75rem 0;
        margin: 0;
        text-decoration: none;
        color: var(--black);
    }

    .daily-view:hover~hr {
        margin-left: 25%;
    }

    .weekly-view:hover~hr {
        margin-left: 50%;
    }

    .all-view:hover~hr {
        margin-left: 75%;
    }

    hr {
        height: .25rem;
        width: 25%;
        margin: 0;
        background-color: var(--black);
        border: none;
        transition: .3s ease-in-out;
    }
} */

.programs-view {
    display: grid;
    grid-template-columns: 4em 1fr 1fr 1fr;
    /* grid-template-columns: 10% 30% 30% 30%; */
    grid-template-rows: repeat(24, 80px);
    /* 1 uur = 80px */
    column-gap: .5em;
    margin-bottom: 120px;
}

.schedule-timeline {
    grid-column: 1;
    position: sticky;
    left: 0;
    z-index: 10;
    grid-row: 1 / -1;
}


.schedule-hours {
    display: grid;
    /* grid-auto-rows: 60px; */
    grid-template-rows: repeat(24, 80px);

    .first-hour {
        border-radius: 10px 10px 0 0;
    }

    .last-hour {
        border-radius: 0 0 10px 10px;
    }
}

.schedule-hours time {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;


    /* width: 5em; */
    /* height: 80px; */
}

.schedule-hours time:not(:last-child)::after {
    content: "";
    flex-grow: 1;
    border-right: 2px dashed var(--gray);
}

.single-program {
    color: var(--white);
    padding: 1.5em;
    border-radius: 1em;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    display: flex;
    gap: 1em;
    grid-row: var(--row-start) / span var(--row-span);
    margin: 0.3em;
    align-items: center;
    transition: .3s;

}

.single-program.veronica {
    grid-column: 2;
    background-color: var(--veronica);
}

.single-program.slam {
    grid-column: 3;
    background-color: var(--slam);
}

.single-program.honderdnl {
    grid-column: 4;
    background-color: var(--honderdnl);
}

.live-time {
    width: 100%;
    height: 2px;
    background-color: var(--black);
    position: absolute;
    top: calc((var(--hours) + var(--minutes) / 60) / 24 * 100%);
}