@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DMSans-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

:root {
    --black: #000000;
    --gray: #9C9C9C;
    --white: #FFFFFF;
    --veronica: #0D8DCC;
    --slam: #E40069;
    --honderdnl: #EF7D00;
}

h1,
h2 {
    font-size: clamp(1.625rem, 4vw, 2.25rem);
}

h3 {
    font-size: clamp(1.375rem, 3vw, 1.75rem);
}

header {
    /* background-color: var(--gray); */
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.day-selector {
    justify-content: space-between;
    display: flex;

}

.day-selector .select-day {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.radio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.program-list {
    display: flex;
    flex-direction: row;
}

.timeline-hours time {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5em;
    height: 10em;
}

.timeline-hours time::after {
    content: "";
    flex-grow: 1;
    border-right: 2px dashed var(--gray);
}


.programs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.single-program {
    background-color: #D9D9D9;
    padding: 1.5em;
    border-radius: 1em;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    display: flex;
    gap: 1em;
}

.program-thumbnail img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 5em;
    border-radius: 50%;
}

.program-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
}

.program-time {
    display: flex;
    gap: .5em;
    align-items: center;
}

.program-time::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url("/assets/clock-regular.svg");
}


nav {
    background-color: #43000B;
    height: 70px;
    position: sticky;
    bottom: .7em;
    margin-right: .7em;
    margin-left: .7em;
    border-radius: 10px;

    z-index: 10;
}

.view-selector {
    ul li {
        display: inline;
        text-align: center;
    }

    a {
        display: inline-block;
        width: 25%;
        padding: .75rem 0;
        margin: 0;
        text-decoration: none;
        color: var(--black);
    }

    .daily-view:hover~hr {
        margin-left: 25%;
    }

    .weekly-view:hover~hr {
        margin-left: 50%;
    }

    .all-view:hover~hr {
        margin-left: 75%;
    }

    hr {
        height: .25rem;
        width: 25%;
        margin: 0;
        background-color: var(--black);
        border: none;
        transition: .3s ease-in-out;
    }
}

/* INDEX2.HTML */
.programs-view {
    display: grid;
    grid-template-columns: 4em 1fr 1fr 1fr;
    grid-template-rows: repeat(24, 80px);
    /* 1 uur = 80px */
    /* grid-auto-flow: row; */
    column-gap: .5em;
    /* row-gap: .5em; */
}

.schedule-timeline {
    grid-column: 1;
    position: sticky;
    left: 0;
    /* align-self: start; */
    /* background: #fff; */
    z-index: 10;
    grid-row: 1 / -1;
}

.schedule-hours {
    display: grid;
    /* grid-auto-rows: 60px; */
    grid-template-rows: repeat(24, 80px);
}

.schedule-hours time {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5em;
    height: 10em;
}

.schedule-hours time:not(:last-child)::after {
    content: "";
    flex-grow: 1;
    border-right: 2px dashed var(--gray);
}

.single-program {
    color: var(--white);
    padding: 1.5em;
    border-radius: 1em;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    display: flex;
    gap: 1em;
    grid-row: var(--row-start) / span var(--row-span);
    margin: 0.3em;
}

.single-program.veronica {
    grid-column: 2;
    background-color: var(--veronica);
}

.single-program.slam {
    grid-column: 3;
    background-color: var(--slam);
}

.single-program.honderdnl {
    grid-column: 4;
    background-color: var(--honderdnl);
}

/* Durations 
.duration-1h {
    grid-row-end: span 1;
}

.duration-2h {
    grid-row-end: span 2;
}

.duration-3h {
    grid-row-end: span 3;
}

.duration-4h {
    grid-row-end: span 4;
}*/