* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --black: #000000;
    --gray: #9C9C9C;
    --white: #FFFFFF;
}

header {
    background-color: var(--gray);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

header .whatsapp-icon {
    right: 1em;
    position: absolute;
}

.day-selector {
    justify-content: space-evenly;
    display: flex;
}

.day-selector .select-day {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}